#!/usr/bin/env xdg-open

[Desktop Entry]
Comment=Calendar
Terminal=false
Name=Calendar
Exec=chromium --app=https://calendar.google.com/calendar/r?tab=wc
Type=Application
Icon=/usr/share/applications/Calendar.png
Name[en_US]=Calendar
