#!/usr/bin/env xdg-open

[Desktop Entry]
Comment=Gmail
Terminal=false
Name=Gmail
Exec=chromium --app=https://mail.google.com/mail/u/0/#inbox
Type=Application
Icon=/usr/share/applications/Gmail.png
Name[en_US]=Gmail
