#!/usr/bin/env xdg-open
[Desktop Entry]
Comment=Whatsapp
Terminal=false
Name=Whatsapp
Exec=chromium --app=https://web.whatsapp.com
Type=Application
Icon=/home/domi/.local/share/applications/Whatsapp.png
